### Import Libraries

In [1]:
# Import required libraries
import pandas as pd 
import numpy as np

In [2]:
# Load count Data
count_data = pd.read_csv('../data/readcounts.csv')
count_data.shape
count_data.describe()

,HLM002,HLM004,HLM007,HLM009,HLM010,HLM013,HLM014,HLM016,HLM017,HLM018,...,HLM179,HLM180,HLM183,HLM184,HLM184.1,HLM186,HLM187,HLM188,HLM189,HLM190
count,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,63187.000000,6.318700e+04,63187.00000,6.318700e+04,63187.000000,6.318700e+04,...,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04,6.318700e+04
mean,2.357558e+02,1.493854e+02,3.649821e+02,1.039714e+02,68.469369,2.003021e+02,7.43903,7.389047e+01,37.961748,3.827546e+02,...,4.521169e+02,1.497991e+02,6.169018e+02,6.132523e+02,1.725817e+02,4.461774e+02,3.412466e+02,2.133513e+02,1.841525e+02,3.732681e+02
std,1.403059e+04,8.642560e+03,1.074455e+04,8.428283e+03,3415.450161,1.556826e+04,468.38654,6.045200e+03,2627.657357,1.827857e+04,...,2.232880e+04,6.045618e+03,3.785012e+04,4.194990e+04,1.185583e+04,2.667573e+04,2.425656e+04,1.418507e+04,1.227077e+04,2.819359e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.000000e+00,2.000000e+00,6.000000e+00,2.000000e+00,2.000000,2.000000e+00,0.00000,2.000000e+00,0.000000,1.200000e+01,...,3.000000e+00,2.100000e+01,2.000000e+01,6.000000e+00,2.000000e+00,4.000000e+00,2.000000e+00,6.000000e+00,2.000000e+00,2.000000e+00
max,2.219570e+06,1.665726e+06,1.903642e+06,1.940506e+06,538591.000000,3.230895e+06,82431.00000,1.403522e+06,617057.000000,2.655552e+06,...,4.767418e+06,1.203668e+06,7.161363e+06,6.651103e+06,2.055601e+06,5.653104e+06,3.555589e+06,3.064530e+06,1.763904e+06,4.639790e+06

In [3]:
# Load meta data
meta_data = pd.read_csv('../data/metadata.csv')
meta_data

   Unnamed: 0  COPD_NHANES  Hiv_test  OMV_concentration     omv_z
0      HLM002            0         0           9.245667 -0.139743
1      HLM004            0         0          13.313574 -0.124060
2      HLM007            0         0          11.990311 -0.129162
3      HLM009            0         0          13.850273 -0.121991
4      HLM010            0         0          14.265667 -0.120390
..        ...          ...       ...                ...       ...
95     HLM186            1         1          53.836774  0.032170
96     HLM187            1         1          28.180239 -0.066744
97     HLM188            1         1          32.420499 -0.050397
98     HLM189            1         1          32.617247 -0.049638
99     HLM190            1         1          21.547530 -0.092316

[100 rows x 5 columns]

### # 5 rows from readcounts.csv

In [10]:
# Real data from readcounts.csv
count_data_first_5 = count_data.head()
count_data_first_5

,Unnamed: 0,HLM002,HLM004,HLM007,HLM009,HLM010,HLM013,HLM014,HLM016,HLM017,...,HLM179,HLM180,HLM183,HLM184,HLM184.1,HLM186,HLM187,HLM188,HLM189,HLM190
0,ENSG00000279928,2,0,0,0,0,0,0,2,0,...,0,0,6,0,6,0,0,8,0,0
1,ENSG00000228037,0,0,7,0,0,0,0,0,0,...,14,0,4,0,8,18,0,4,2,0
2,ENSG00000142611,0,0,0,0,2,4,0,10,0,...,6,54,33,14,18,8,14,16,2,20
3,ENSG00000284616,0,0,0,0,0,1,0,0,0,...,0,10,2,0,0,0,0,0,0,0
4,ENSG00000157911,62,64,190,26,70,54,4,28,20,...,22,40,201,132,42,55,82,40,39,56

### Generate 4000 rows of synthetic data

In [11]:
# Generate synthetic data based on the first 5 rows
synthetic_data = pd.DataFrame()
# Iterate over each column in count_data_first_5
for column in count_data_first_5.columns:
    if column == 'Unnamed: 0':  # Keep the 'Unnamed: 0' column as is
        synthetic_data[column] = np.random.choice(count_data_first_5[column], size=4000, replace=True)
        print('synthetic data generated successfully', ...)
    else:  # Generate random variations for numeric columns
        mean = count_data_first_5[column].mean()
        std = count_data_first_5[column].std()
        synthetic_data[column] = np.random.normal(loc=mean, scale=std, size=4000).astype(int)
        synthetic_data[column] = synthetic_data[column].clip(lower=0)  # Ensure no negative values

synthetic data generated successfully Ellipsis

/tmp/ipykernel_44434/2246122553.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  synthetic_data[column] = np.random.normal(loc=mean, scale=std, size=4000).astype(int)

In [12]:
# Save the synthetic data to a CSV file
synthetic_data.to_csv('../data/synthetic_readcounts.csv', index=False)
print('synthetic data saved successfully', ...)

synthetic data saved successfully Ellipsis

In [14]:
synthetic_data

,Unnamed: 0,HLM002,HLM004,HLM007,HLM009,HLM010,HLM013,HLM014,HLM016,HLM017,...,HLM179,HLM180,HLM183,HLM184,HLM184.1,HLM186,HLM187,HLM188,HLM189,HLM190
0,ENSG00000279928,34,60,0,0,1,15,0,0,9,...,13,36,0,0,0,0,14,0,0,19
1,ENSG00000279928,38,9,61,0,11,0,0,16,1,...,28,34,95,78,13,21,0,15,0,18
2,ENSG00000284616,0,2,121,6,0,7,1,20,8,...,3,40,76,6,0,37,37,23,1,25
3,ENSG00000157911,0,0,88,0,0,7,0,28,3,...,19,43,132,34,31,32,0,4,0,17
4,ENSG00000142611,16,0,0,7,32,23,0,0,6,...,15,36,0,75,13,21,31,11,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,ENSG00000142611,50,41,42,7,12,46,4,3,10,...,15,24,6,0,7,22,73,8,17,59
3996,ENSG00000279928,0,0,62,30,29,0,1,10,9,...,5,61,0,0,0,37,34,6,0,0
3997,ENSG00000279928,9,26,5,0,0,12,0,0,0,...,0,4,81,38,0,39,54,19,0,45
3998,ENSG00000228037,0,0,139,8,9,13,0,27,0,...,12,0,222,74,26,18,47,10,18,11
3999,ENSG00000228037,22,46,0,0,25,37,0,3,13,...,5,12,0,66,18,16,65,0,5,1